.header-container {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  padding: 30px 16px;
  box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.05);

  @media (min-width: 768px) {
    padding-inline: 60px;
  }

  .dark-mode-container {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }

  .header-title {
    font-weight: 800;
    font-size: 18px;
  }
}