:root {
  --font: 'Nunito Sans', sans-serif;
  --mobile-inline: 16px;
  --desktop-inline: 60px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

.App {
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}